.settings {
  width: 373px;
  padding: 30px;
  border-color: #000000;
  border: 1px solid #cbc0c0;
  position:absolute; 
  right: 0px; /* Distance from the right */
  z-index: 1000; /* Ensure it stays on top of other content */
}


h1 {
  font-size: 1.8rem;
  color: #000000;
  margin-bottom: 20px;
  text-align: start;
}

.section h2 {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 10px;
  border-bottom: 2px solid #4f46e5;
  padding-bottom: 10px;
}

section {
  padding-top: 20px;
  margin-bottom: 10px;
}

.customlabel {
  display: block;
  margin-bottom: 0px;
  font-size: 1rem;
  color: #333333 ;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

button {
  padding: 12px 25px;
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.settings  button:hover {
  background-color: #7671cc ;
}
form {
  display: grid;
  flex-direction: column;
  gap: 15px;
}

section:last-child {
  margin-bottom: 0;
}

.input {

  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
  font-weight: 10;
  font-family: 'Courier New', Courier, monospace;
}